<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Super site</title>
    {#<link href="{{ asset('bundles/sil16vitrine/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{{ asset('bundles/sil16vitrine/style.css') }}" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('accueil') }}">Sil5 e-commerce</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ path('mentions') }}">mentions</a></li>
                <li><a href="{{ path('catalogue') }}">catalogue</a></li>
                <li><a href="{{ path('siteAdmin') }}">Site admin</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('client_new') }}"><span class="glyphicon glyphicon-user"></span> S'inscrire</a></li>
                <li><a href="{{ path('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
</header>
<div id="main" class="row">
    <div id="articles" class="container-fluid col-md-9">
        <div class="container-fluid">
            {% for success_message in app.session.flashbag.get('success') %}
                <div class="alert alert-success">{{ success_message }}</div>
            {% endfor %}
            {% for info_message in app.session.flashbag.get('info') %}
                <div class="alert alert-info">{{ info_message }}</div>
            {% endfor %}
            {% for danger_message in app.session.flashbag.get('danger') %}
                <div class="alert alert-danger">{{ danger_message }}</div>
            {% endfor %}
        </div>
        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div class="container-fluid col-md-3">
        <div id="sidebar-right">
            <div class="well well-sm">
                {{ render(controller('sil16VitrineBundle:Panier:panierInformation')) }}
            </div>
            <div class="well well-sm">
                {{ render(controller('sil16VitrineBundle:Default:articlesLesPlusVendu')) }}
            </div>
        </div>
    </div>
</div>
<footer>
</footer>
</body>
</html>
