{% extends "sil16VitrineBundle::layout.html.twig" %}
{% block content %}
    <h2>Catalogue complet</h2>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Trie par catégorie
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            {% for category in categories %}
                <li><a href="{{ path('catalogueWithCategory', { 'category_id': category.id }) }}">{{ category.getName }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Libelle</th>
            <th>Category</th>
            <th>Stock</th>
            <th>Prix</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.getLibelle }}</td>
                <td>{{ article.getCategory.getName }}</td>
                <td>{{ article.getStock }}</td>
                <td class="table-data-price">{{ article.getPrice }}€</td>
                <td>
                    <form class="form-inline" action="{{ path('addArticle', { 'article_id': article.getId }) }}">
                        <input class="hidden" name="stock" value="{{ article.getStock }}">
                        <div class="form-group table-data-form-quantity">
                            <label>Quantité :</label>
                            <input name="quantity" id="input-quantity" class="form-control input-sm" type="number" min="1" max="999" value="1">
                            <button type="submit" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-plus"></span> Ajouter au panier
                            </button>
                        </div>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}