{% extends 'sil16VitrineBundle::layout.html.twig' %}

{#{% block content %}#}
    {#<h1>Inscription</h1>#}

    {#{{ form_start(form) }}#}
    {#<form class="form-horizontal">#}
        {#<div class="form-group">#}
            {#<label class="control-label col-sm-2" for="nom">{{ form_label(form.nom) }}</label>#}
            {#<div class="col-sm-10">#}
                {#{{ form_widget(form.nom, { 'attr': {'class': 'form-control', 'id': 'nom'} }) }}#}
            {#</div>#}
        {#</div>#}
        {#<div class="form-group">#}
            {#<label class="control-label col-sm-2" for="mail">{{ form_label(form.mail) }}</label>#}
            {#<div class="col-sm-10">#}
                {#{{ form_widget(form.mail, { 'attr': {'class': 'form-control', 'id': 'mail'} }) }}#}
            {#</div>#}
        {#</div>#}
        {#<div class="form-group">#}
            {#<div class="col-sm-offset-2 col-sm-10">#}
                {#<button type="submit" class="btn btn-primary" value="Create">#}
                    {#<span class="glyphicon glyphicon-plus"></span> Ajouter</button>#}
            {#</div>#}
            {#<input type="submit" value="Create" />#}
        {#</div>#}
    {#</form>#}
    {#{{ form_widget(form.nom) }}#}
    {#{{ form_widget(form) }}#}
    {#{{ form_label(form.nom) }}#}
    {#{{ form_widget(form.nom, { 'attr': {'class': 'c4'} }) }}#}
    {#{{ form_end(form) }}#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('client_index') }}">Back to the list</a>#}
        {#</li>#}
    {#</ul>#}
{#{% endblock %}#}



{% block content %}
    <h1>Category creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" />
    {{ form_end(form) }}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('client_index') }}">Back to the list</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}