{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(password_form, { 'attr': {'class': 'form-horizontal'} }) }}
        {{ form_row(password_form.password.first) }}
        {{ form_row(password_form.password.second) }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form_start(password_form) }}
                    <input class="btn btn-primary" type="submit" value="Changer de mot de passe" />
                </div>
            </div>
    {{ form_end(password_form) }}

{% endblock %}
